.manage-menu {
    padding: 20px;
}

.add-item {
    margin-bottom: 20px;
}

.add-menu-item-form,
.update-menu-item-form {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-menu-item-form form,
.update-menu-item-form form {
    display: flex;
    flex-direction: column;
}

.add-menu-item-form label,
.update-menu-item-form label {
    margin-bottom: 10px;
}

.add-menu-item-form input,
.update-menu-item-form input {
    padding: 8px;
    margin-top: 5px;
}

.search-bar {
    padding: 8px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sorting-buttons {
    margin-bottom: 20px;
}

.sorting-buttons button {
    margin-right: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sorting-buttons button.active {
    background-color: #09e606;
    color: white;
}

.menu-items {
    display: flexbox;
    flex-wrap: wrap;
    gap: 20px;
}

.menu-item {
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 500px;
    align-items: center;
}

.menu-item h3 {
    margin-top: 0;
}

.menu-item p {
    margin: 5px 0;
}

.menu-item-buttons {
    display: flex;
    justify-content: space-between;
}

.small-button {
    padding: 8px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: grey;
}

.error {
    color: red;
}
